.video-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 9 / 16; /* Mantiene la relación vertical */
  overflow: hidden;
  margin-top: 8px;
  z-index: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.mask-above {
  opacity: 1;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  background: rgba(210, 210, 210, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 0;
}

.mask-below {
  opacity: 1;
  position: absolute;
  top: 58%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  color: white;
  font-size: 17px;
  font-weight: bold;
  background: rgba(210, 210, 210, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 0;
}

@media (max-width: 320px) {

  .mask-above {
    top: 1%;
    left: 50%;
    width: 80%;
    font-size: 12px;
    padding: 5px 10px;
  }
  
  .mask-below {
    top: 58%;
    left: 50%;
    width: 90%;
    font-size: 14px;
    padding: 5px 10px;
  }
}

/* 🎯 Rectángulo Rojo más cerca de la parte superior */
.rectangle-mask {
  position: absolute;
  border: 4px solid #ff0000;
  border-radius: 12px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 0;
}
/* top: 20%;  */
/* left: 2%; */
/* width: 95%;  */
/* height: 35%;  */

#captura {
  max-width: 90%;
  display: none;
  margin-top: 10px;
}

.buttons {
  z-index: 100;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}