.qr-container {
  position: absolute;
  left: 0;
  top: 100%;
}

.qr-container > p {
  font-size: 19px;
  margin: 0 0 50px 0;
}

.qr {
  width: 180px;
  height: 180px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}