.selfie-container{
  width: 100%;
  height: 100%;
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 500;
  width: 100%;
  height: 100%;
}

.mascara{
  width: 28.5%;
  height: 34.5%;
  position: absolute;
  z-index: 1000;
}

.indicador{
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1200;
}

.video > .react-html5-camera-photo > video {
  width: 60%;
  display: flex;
  justify-content: center;
}

.preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.foto{
  display: flex;
  justify-content: center;
  width: 100%;
}

.foto > img{
  width: 65%;
}

.retake-btn{
  background: #ff0022;
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 350ms;
}

.retake-btn:hover{
  background: #810011;
}

.video > .react-html5-camera-photo > #container-circles{
  cursor: pointer;
  left: 52%;
  top: 100%;
  z-index: 1500;
}

.video > .react-html5-camera-photo > #container-circles > #outer-circle {
  background-color: #555;
  width: 45px;
  height: 45px;
}

.video > .react-html5-camera-photo > #container-circles > #outer-circle > #inner-circle {
  background-color: #222;
  width: 20px;
  height: 20px;
  margin-top: -25px;
  margin-left: -11px
}

@media screen and (max-width: 768px){

  .mascara{
    width: 37.5%;
    left: 31.3%;
    top: 45.5%;
  }

  .video > .react-html5-camera-photo > video {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .video{
    width: 75%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 425px){

  .mascara{
    width: 71%;
    left: 14.8%;
    top: 48.6%;
  }

  .video{
    width: 85%;
  }

  .foto > img{
    width: 85%;
  }
}

@media screen and (max-width: 375px){
  .mascara{
    width: 71%;
    left: 14.8%;
    top: 53.6%;
  }
}

@media screen and (max-width: 325px){
  .mascara{
    width: 69%;
    left: 15.3%;
    top: 52.8%;
  }
}